@font-face { font-family: LogoFont; src: url('ka1.ttf');}
@font-face { font-family: MonacoRegular; src: url("Monaco_Regular.ttf");}
header {
    font-family: LogoFont;
    background-color: #C8C8DB; /* alternative - #E3C092 */
    height: 70px;
    overflow: hidden;
    padding-left: 14px;
    font-size: 20px;
    /* 3 lines below are to center text vertically */
    display: flex;
    justify-content: left;
    align-items: center;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    color: white;
    text-align: right;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    float: left;
}

nav a:hover {
    background-color: #C8C8DB;
    color: black;
}



nav a:active {
    /* This does nothing, but keeping it to see if I can do something later */
    background-color: #C8C8DB;
    color: black;
}

footer {
    margin-top: auto; /* this forces footer to the bottom due to FLEX */
    width: 100%;
    background-color: #333;
    /* 2 lines below are to center text vertically */
    display: flex;
    justify-content: center;
}


footer p{
    font-size: 20px;
    color: white;
    padding-top: 20px; /* use these paddings to control footer height*/
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

Footer a:hover {
    color: red;
}


#main-wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


body {
    margin:0;
    padding:0;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    max-width: 1000px;
    border: 1px black solid;
    background-color: white;
}


.figure-header {
    margin-bottom: 20px;
}

.figure {
    padding-left: 30px;
}
.dropdown {
    width: 250px;
}

/* Control color of the dropdown menu background */
#master-switch-wrapper .Select-control {
  background-color: white !important;
  border: 1px solid black;
}
#master-switch-wrapper .Select-menu-outer {
  background-color: white;
  border: 1px solid black;
}

/* Format master season switch */
#master-switch-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
#master-switch-wrapper H4 {
    padding-right: 10px;
}
#master-switch-wrapper .dropdown {
    margin-top: 15px;
    width: 200px;
}

h4 {
    font-size: 14pt;
    font-family: Arial;
}

li{
    margin: 10px 0;
}


/* Comp broser table */
table {
    width : 100%;
    table-layout: fixed;
}

td {
    text-align: center;
}


/* Formatting of comp input form */
.Select--multi .Select-value {
    color: black;
    background-color: #EAEAF1;
    border-color: black;
}
.Select--multi .Select-value-icon {
    border-color: black;
}
label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
    margin-top: 10px;
    width: 10%;
}
.spec-input {
    width: 80%;
    float: left;
    padding-bottom: 10px;
}
#comp-finder-submit-button-wrapper {
    text-align: center;
}
#comp-finder-submit-button {
    margin: auto;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 4px;
    color: white;
    background-color: #333;
}

#comp-finder-submit-button:active {
  transform: translateY(4px);
}

/* paging button */
.pagination-wrap {
    display: inline-block;
}
#page-label {
    margin-right: 10px;
}
#comp-page-number {
    width: 50px;
}
#page-count-label {
    margin-left: 10px;
}
