@font-face { font-family: LogoFont; src: url('ka1.ttf');}
@font-face { font-family: MonacoRegular; src: url("Monaco_Regular.ttf");}
header {
    font-family: LogoFont;
    background-color: #C8C8DB; /* alternative - #E3C092 */
    height: 70px;
    overflow: hidden;
    padding-left: 14px;
    font-size: 20px;
    /* 3 lines below are to center text vertically */
    display: flex;
    justify-content: left;
    align-items: center;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    color: white;
    text-align: right;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    float: left;
}

nav a:hover {
    background-color: #C8C8DB;
    color: black;
}

nav a:active {
    /* This does nothing, but keeping it to see if I can do something later */
    background-color: #C8C8DB;
    color: black;
}


footer {
    width: 100%;
    bottom: 0;
    background-color: #333;
    height: 40px;
    /* 3 lines below are to center text vertically */
    display: flex;
    justify-content: center;
}
footer p{
    font-size: 20px;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
body {
    background-color: lightgray;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    max-width: 1000px;
    border: 1px black solid;
    background-color: white;
}

.figure-header {
    margin-bottom: 20px;
}

.figure {
    padding-left: 30px;
}
.dropdown {
    width: 250px;
}

/* Control color of the dropdown menu background */
#master-switch-wrapper .Select-control {
  background-color: white !important;
  border: 1px solid black;
}
#master-switch-wrapper .Select-menu-outer {
  background-color: white;
  border: 1px solid black;
}

/* Format master season switch */
#master-switch-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
#master-switch-wrapper H4 {
    padding-right: 10px;
}
#master-switch-wrapper .dropdown {
    margin-top: 15px;
    width: 200px;
}

h4 {
    font-size: 14pt;
    font-family: Arial;
}

li{
    margin: 10px 0;
}
